<nav class="header">
  <div class="logo">
    <a routerLink="/">
      <img src="/assets/images/logo-left.svg" alt="Kiddo logo">
    </a>
    <a href="https://dataart.ru" target="_blank">
      <img src="/assets/images/logo-right.svg" alt="Kiddo logo">
    </a>
  </div>
  <div class="navigation-bar-wrapper">
    <ul class="navigation-bar">
      <li>
        <a routerLink="/about-developers">{{ i18nPrefix + 'ABOUT_DEVELOPERS' | translate }}</a>
      </li>
      <li>
        <a routerLink="/about-project">{{ i18nPrefix + 'ABOUT_PROJECT' | translate }}</a>
      </li>
      <li>
        <a href="/task-editor">{{ i18nPrefix + 'ADD_OWN_LEVEL' | translate }}</a>
      </li>
      <li class="lang-github">
        <a class="github-link" target="_blank" href="https://github.com/DataArt/kiddo"><img src="/assets/images/github-mark.png" alt=""></a>
        <div class="lang-select dropdown" kiddoAcademyDropdown>
          <div class="dropdown-toggle">
            <span>{{ currentLang | languageNative | uppercase }}</span>
            <i class="icon-kiddo-academy-arrow-drop-down"></i>
          </div>
          <div class="dropdown-menu">
            <ul>
              <li *ngFor="let lang of allLangs" (click)="handleLangChange(lang)" class="lang-menu-item">
                <img class="lang-icon" [src]="'/assets/images/' + lang + '-flag.png'" alt="">
                <span> {{ lang | languageNative | uppercase }}</span>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="github-link-wrapper">
    <a target="_blank" href="https://github.com/DataArt/kiddo">
      <img width="28" height="28" src="/assets/images/github-mark.png" alt="">
    </a>
  </div>
  <div class="hamburger-menu dropdown" kiddoAcademyDropdown>
    <div class="dropdown-toggle hamburger-toggle">
      &#9776;
    </div>
    <div class="dropdown-menu">
      <ul class="hamburger-menu-items">
        <li>
          <a routerLink="/about-developers">{{ i18nPrefix + 'ABOUT_DEVELOPERS' | translate }}</a>
        </li>
        <li>
          <a routerLink="/about-project">{{ i18nPrefix + 'ABOUT_PROJECT' | translate }}</a>
        </li>
        <li>
          <a href="/task-editor">{{ i18nPrefix + 'ADD_OWN_LEVEL' | translate }}</a>
        </li>
        <li class="lang-select dropdown-submenu" kiddoAcademyInnerDropdown>
          <div class="dropdown-toggle lang-select-toggle">
            <span>{{ currentLang | languageNative | uppercase }}</span>
            <i class="icon-kiddo-academy-arrow-drop-down"></i>
          </div>
          <div class="lang-select-menu">
            <ul>
              <li *ngFor="let lang of allLangs" (click)="handleLangChange(lang)" class="lang-menu-item">
                <img class="lang-icon" [src]="'/assets/images/' + lang + '-flag.png'" alt="">
                <span>{{ lang | languageNative | uppercase }}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
