<section class="about-developers">
  <kiddo-academy-breadcrumbs>
    <ul class="breadcrumbs">
      <li>
        <a routerLink="/">{{ 'HOME.HOME' | translate | uppercase }}</a>
      </li>
      <li>{{ i18nPrefix + 'HEADER' | translate | uppercase }}</li>
    </ul>
  </kiddo-academy-breadcrumbs>
  <h1>{{ i18nPrefix + 'HEADER' | translate }}</h1>
  <p [innerHTML]="i18nPrefix + 'CONTENT-PARAGRAPH-1' | translate"></p>
  <p [innerHTML]="i18nPrefix + 'CONTENT-PARAGRAPH-2' | translate"></p>
  <p [innerHTML]="i18nPrefix + 'CONTENT-PARAGRAPH-3' | translate"></p>
  <p [innerHTML]="i18nPrefix + 'CONTENT-PARAGRAPH-4' | translate"></p>
</section>
